name = "ODEParameterEstimation"
uuid = "482fc905-5656-4c69-b8fe-7a66cd0f77b3"
version = "1.0.0-DEV"
authors = ["Oren Bassik <orebas@yahoo.com> and contributors"]

[deps]
AbstractAlgebra = "c3fe647b-3220-5bb0-a1ea-a7954cac585d"
AbstractGPs = "99985d1d-32ba-4be9-9821-2ec096f28918"
BaryRational = "91aaffc3-5777-4842-85b7-5d3d5d6a3494"
BlackBoxOptim = "a134a8b2-14d6-55f6-9291-3336d3ab0209"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DynamicPolynomials = "7c1d4256-1411-5781-91ec-d7bc3513ac07"
Enzyme = "7da242da-08ed-463a-9acd-ee780be4f1d9"
Evolutionary = "86b6b26d-c046-49b6-aa0b-5f0f74682bd6"
FiniteDiff = "6a86dc24-6348-571c-b903-95158fe2bd41"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
GaussianProcesses = "891a1506-143c-57d2-908e-e1f8e92e6de9"
Groebner = "0b43b601-686d-58a3-8a1c-6623616c7cd4"
HomotopyContinuation = "f213a82b-91d6-5c5d-acf7-10f1c761b327"
KernelFunctions = "ec8451be-7e33-11e9-00cf-bbf324bd1392"
LeastSquaresOptim = "0fc2ff8b-aaa3-5acd-a817-1944a5e08891"
LineSearches = "d3d80556-e9d4-5f37-9878-2ab0fcc64255"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
Metaheuristics = "bcdb8e00-2c21-11e9-3065-2b553b22f898"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
MultivariatePolynomials = "102ac46a-7ee4-5c85-9060-abc95bfdeaa3"
NLSolversBase = "d41bc354-129a-5804-8e4c-c37616107c6c"
NLopt = "76087f3c-5699-56af-9a33-bf431cd00edd"
NLsolve = "2774e3e8-f4cf-5e23-947b-6d7e65073b56"
Nemo = "2edaba10-b0f1-5616-af89-8c11ac63239a"
NonlinearSolve = "8913a72c-1f9b-4ce2-8d82-65094dcecaec"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OptimizationMOI = "fd9f6733-72f4-499f-8506-86b2bdd0dea1"
OptimizationOptimJL = "36348300-93cb-4f02-beb5-3c3902f8871e"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PolynomialRoots = "3a141323-8675-5d76-9d11-e1df1406c778"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SIAN = "cf7bdac0-b945-4905-b5ad-bc3f1a757483"
SciMLSensitivity = "1ed8b502-d754-442c-8d5d-10ac956f44a1"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StructuralIdentifiability = "220ca800-aa68-49bb-acd8-6037fa93a544"
SymbolicUtils = "d1185830-fcd6-423d-90d6-eec64667417b"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"
TaylorDiff = "b36ab563-344f-407b-a36a-4f200bebf99c"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[weakdeps]
PEtab = "48d54b35-e43e-4a66-a5a1-dde6b987cf69"
RS = "01933e51-4c7d-4354-b809-e991ab46e7ed"
RationalUnivariateRepresentation = "17246082-4fa7-4287-87d4-6a5617fca855"

[extensions]
ODEParameterEstimationPEtabExt = ["PEtab"]
ODEParameterEstimationRSExt = ["RS", "RationalUnivariateRepresentation"]

[compat]
AbstractGPs = "0.5.24"
KernelFunctions = "0.10.66"
Plots = "1.41.2"
SIAN = "1.7.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
